In [ ]:
pip install docxtpl

In [ ]:
pip install docx2pdf

In [29]:
from docxtpl import DocxTemplate
import os
import pandas as pd

In [17]:
input_doc = r"Loan Sanction Confirmation Letter.docx"
input_excel = r"Input_Data_set.csv"

In [4]:
#Reading the the excel file with the help of Pandas library
input_data = pd.read_csv(input_excel)

In [47]:
input_data

,Name,Policy,Date,Application Number,Aprroved Amount,Final Tenure,ROI,Processing Fess,Unnamed: 8
0,Merry,809314,31-December-2024,A234TR,"1,00,000.00",23M,8,100,NaN
1,John,809325,01-December-2024,A254RR,"2,00,000.00",36M,9,200,NaN
2,Sebestian,809323,15-December-2023,A23RTY,"4,00,00",6M,9,50,NaN
3,Shiva,802025,20-December-2023,ASFRTU,"1,50,000.00",30M,8,150,NaN

In [35]:

#output folder all the files will be saved here

os.chdir(r"C:\Users\Desktop\Excel_word_py\Output_Folder")

In [48]:


input_data['Date'] = pd.to_datetime(input_data['Date'])
input_data['Date'] = input_data['Date'].dt.strftime('%d-%B-%Y')

Date=input_data["Date"].values
Appilication_Number=input_data['Application Number'].values

Approved_Amount=input_data['Aprroved Amount'].values
Final_TENURE = input_data['Final Tenure'].values

ROI=input_data["ROI"].values
PF=input_data["Processing Fess"].values

Member_Name = input_data["Name"]
Policy = input_data["Policy"]

In [49]:
zipped = zip(Appilication_Number,Approved_Amount,Final_TENURE,ROI,PF,Member_Name)

In [50]:
input_data

,Name,Policy,Date,Application Number,Aprroved Amount,Final Tenure,ROI,Processing Fess,Unnamed: 8
0,Merry,809314,31-December-2024,A234TR,"1,00,000.00",23M,8,100,NaN
1,John,809325,01-December-2024,A254RR,"2,00,000.00",36M,9,200,NaN
2,Sebestian,809323,15-December-2023,A23RTY,"4,00,00",6M,9,50,NaN
3,Shiva,802025,20-December-2023,ASFRTU,"1,50,000.00",30M,8,150,NaN

In [51]:
for a,b,c,d,f,g, in zipped:
    doc=DocxTemplate(input_doc)
    
    context={"a":a,"b":b,"c":c,"d":d,'f':f,'g':g}

    
 
    # Render template
    doc.render(context)
    
    # Save document
    
    doc.save(r"Sanction Letter {} {}_file.docx".format(a,g))
print("All Files done successfully!")

All Files done successfully!

In [ ]:

# Converting all the word files into PDF files

In [52]:
from docx2pdf import convert

In [41]:
convert(r"C:\Users\Desktop\Excel_word_py\Output_Folder")

0it [00:00, ?it/s]

In [54]:
convert(r"C:\Users\Akash kumar Ram\Desktop\Excel_word_py\Output_Folder")

  0%|          | 0/4 [00:00<?, ?it/s]